# Copy to .env and fill in values before running
JWT_SECRET=
ADMIN_PASSWORD=
POSTGRES_PASSWORD=
WEBAPP_SECRET_KEY=
API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ENABLE_DANGEROUS_TESTS=0
TRAEFIK_DASHBOARD_AUTH=
